# apps/worker/.env.example

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
REDIS_URL=redis://localhost:6379

APP_URL=http://localhost:4000
AWS_REGION=us-west-1

MESSAGE_MODE=fake

SENTRY_DSN=your_worker_sentry_dsn
SENTRY_ENVIRONMENT=development
