# apps/worker/.env.example

DATABASE_URL=your-supabase-pooler-database-url
REDIS_URL=redis://localhost:6379

MESSAGE_MODE=fake
APP_URL=http://localhost:4000

AWS_REGION=us-west-1
SES_FROM_EMAIL=your-verified-ses-email@example.com
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
