# apps/api/.env.example

DATABASE_URL="your-supabase-pooler-database-url"
SUPABASE_URL="your-supabase-url"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret-or-required-auth-value"
REDIS_URL="redis://localhost:6379"


CLIENT_URL="http://localhost:3000"
